{# {% include '@radix/page/page.twig' %} #}
{#
/**
 * @file
 * Template for the main page.
 */
#}
{% set page_classes = []|merge(page_utility_classes ? page_utility_classes : []) %}

<div class="page">
  <div id='hero-banners'>
    <div id='the-banners' class='my-slider tiny-slider-wrapper' data-settings='{{ slider_settings }}'>
      {% for hero in heros %}
        <div class='hero-banner paragraph--type--hero-banner'>
        {% if hero.img %}

          {% set imagestyle = {
            '#theme': 'image_style',
            '#style_name': 'hero_banner',
            '#uri': hero.img.src.fileuri,
            '#alt': hero.img.alt,
            '#attributes': { class: 'hero-img' },
          } %}
          {{ imagestyle }}

        {% elseif default_hero.img %}
          <img src='{{ base_path ~ directory }}{{ default_hero_img }}' class="hero-img" />
        {% endif %}

          <div class='hero-wrapper {{ hero.class }}'>
            <div class="field field--name-field-title field--type-string field__item">{{ hero.title }}</div>
            <div class="field field--name-field-body field--type-long field__item">{{ hero.body|raw }}</div>
            <div class="field field--name-field-link field--type-link field__item button">
              <a href='{{ hero.cta.url }}'>{{ hero.cta.title }}</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <img class='faixa' src='{{ base_path ~ directory }}/images/banner_shape_cinza.png' />
  </div>

  {% embed '@radix/navbar/navbar.twig' with {
    container: 'fixed',
    color: 'light',
    utility_classes: ['bg-light-off'],
  } %}

    {% block branding %}
      {% if page.navbar_branding %}
        {{ page.navbar_branding }}
      {% endif %}
    {% endblock %}

    {% block left %}
      {% if page.navbar_left %}
        <div class="me-auto">
          {{ page.navbar_left }}
        </div>
      {% endif %}
    {% endblock %}

    {% block right %}
      {% if page.navbar_right %}
	<div class="ms-auto">
	  {{ page.navbar_right }}
	</div>
      {% endif %}
    {% endblock %}
  {% endembed %}

  <main{{ content_attributes.addClass(page_classes) }}>
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

    {% if page.header %}
      <header class="page__header mb-3">
        <div class="container header_container">
          {{ page.header }}
        </div>
      </header>
    {% endif %}

    {% if page.content %}
      <div class="page__content">
        <div class="no-container">
          {{ page.content }}
        </div>
      </div>
    {% endif %}
  </main>

  {% if page.footer %}
    <footer class="page__footer">
      <div class="container">
        <div class="d-flex flex-column flex-md-row justify-content-md-between align-items-md-top">
          {{ page.footer }}
        </div>
      </div>
    </footer>
  {% endif %}
  {% if page.copyright %}
    <footer id="copyright">
      <div class="d-flex justify-content-md-between align-items-md-center">
        <div class="container">
          {{ page.copyright }}
        </div>
      </div>
    </footer>
  {% endif %}

  {% if teaser %}
  <div id="teaser" class="wrapper">
    <div class="container content">
      Apenas usuários autenticados podem ler todo o conteúdo desta página.
    </div>
  </div>
  {% endif %}

</div>

<div id="authenticatedModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Observatório Firjan</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">X Fechar</span>
        </button>
      </div>
      <div class="modal-body">
        <h2>Conteúdo exclusivo para associado Firjan.</h2>
        <p class='info'>
          Para acessar, insira seu E-mail e Senha (os mesmos da Plataforma do Associado)
        </p>

        {# embed the user login form #}
        {{ user_login }}

      </div>
      <div class="modal-footer">
        <span id='signup'>Ainda não é associado? <a href='/user'>Associe-se aqui.</a></span>
        <span id='forgot'><a href='/user/password'>Esqueci minha senha.</a></span>
        {# <button type="button" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> #}
      </div>
    </div>
  </div>
</div>
