{#
/**
 * @file
 * Template for a forum node in full display mode.
 */
#}

  {% block content %}
  <div class="container estudos-internas">
    <div class="row">
      <div class="col">
      <img  src="{{ url('<front>') }}{{file_url(node.field_imagem.entity.fileuri)}}" width="550px" alt="{{ node.field_imagem.alt }}" />
      </div>
      <div class="col">
        <h1>{{ node.label }}</h1>
            {{ node.body.value|t }}
        <br>
       
      </div>
    </div>

      <div class="render-paragrafs-estudos">

        {% for item in node.field_content %}
            {{ drupal_entity('paragraph', item.target_id) }}
        {% endfor %}

      </div>

  </div>
  {% endblock %}
