{#
/**
 * @file
 * Template for a forum node in full display mode.
 */
#}

  {% block content %}

    <div class="container taxonomy-internas">

      <div class="row">
        <div class="col-1">
          <img  src="{{ url('<front>') }}{{file_url(node.field_imagem.entity.fileuri)}}" width="100%" alt="{{ node.field_imagem.alt }}" />
        </div>

        <div class="col-10">
          <h1>{{ node.label }}</h1>
          {{ node.body.summary }}<br>
          <div class="button-acessar-estudo"><br>
          <a href="{{url}}" class="button">Acessar Estudo</a>
          </div>
        </div>
      </div><br><br>

    </div>

  {% endblock %}
